<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron result">
      <div class="row">
        <div class="result__primary col-xs-8">
            <div class="result__name"><h2><%=name%></h2></div>
            <div class="result__name"><b>Beacon ID:</b> <%=uuid%></div>
          <div class="result__phone"></div>
        </div>
        <div class="col-xs-4">
            <div class="result__photo"><img class="img-responsive" src="/images/dog.jpeg"/></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <% if (isMeasuring) { %>
          <div id="missingButton" class="btn btn-success btn-lg btn-block result__accept">Found <%= name %>!</div>
          <div class="btn btn-lg btn-danger btn-block result__restart">View Last Seen</div>
        <% } else { %>
          <div id="missingButton" class="btn btn-lg btn-warning btn-block result__retry">Report Missing</div>
        <% } %>
      </div>
    </div>
  </div>
</div>
